html {
  --color-gray1: #222;
  --color-gray2: #555;
  --color-gray3: #aaa;
  --stack-size: 90px;
  --distance-labels-away: 50px;
  font-family: sans-serif;
}

.stack-container {
  background-color: #eee;
}

.layer-group {
  margin-bottom: 70px;
  position: relative;
}

.layer-group.has-line-to-next:after {
  content: "";
  position: absolute;
  left: 94px;
  height: 50px;
  bottom: -90px;
  width: 3px;
  z-index: 10;
  /* https://kovart.github.io/dashed-border-generator/ */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%237D7D7DFF' stroke-width='6' stroke-dasharray='0%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.layer-container {
  height: 40px;
  position: relative;
}

.layer {
  background: #fff;
  border: 3px solid var(--color-gray2);
  height: var(--stack-size);
  border-radius: 7px;
  width: var(--stack-size);
  position: relative;
  display: inline-block;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
  transform: rotate(-22.5deg) skewX(45deg) scaleY(0.7071) translate(30px, 20px);
}

.layer-text-container {
  position: absolute;
  left: calc(200px + var(--distance-labels-away));
  top: 11px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
}

.layer-text-container:before {
  content: "";
  left: calc(-20px - var(--distance-labels-away));
  width: var(--distance-labels-away);
  height: 2px;
  background-color: var(--color-gray3);
  top: 32px;
  position: absolute;
  z-index: -1;
}

.layer-text-container .main {
  font-size: 16px;
  margin-bottom: 4px;
}

.layer-text-container .subtext {
  font-size: 12px;
  margin-bottom: 5px;
  color: var(--color-gray2);
}
