html {
  --primary: #00b3ca;
  --primary-background: rgb(0, 216, 216);
  --primary-light: rgb(241, 249, 250);
  --primary-shadow: rgba(0, 183, 196, 0.2);
  --primary-dark: rgb(0, 73, 122);
  --color-black: #000;
  --color-gray1: #222;
  --color-gray2: #555;
  --color-gray3: #aaa;
  --color-gray4: #eee;
  --color-white: #fff;
  --link: var(--primary);

  --stack-size: 90px;

  --distance-layers-apart: 70px;
  --inbetween-line-offset: 34px;
  --distance-labels-away: 40px;

  --stack-container-width: 480px;
  --lenses-line-length: 130px;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

p,
li {
  line-height: normal;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: var(--link);
  font-weight: 400;
}

h2 {
  font-size: 15px;
  font-weight: 300;
  color: var(--color-gray2);
  margin-bottom: 5px;
}

strong {
  font-weight: 600;
}

.blue-bar {
  // background-color: var(--primary);
  // background: rgb(206, 252, 255);
  background: linear-gradient(
    135deg,
    var(--primary-background) 0%,
    var(--primary-dark) 100%
  );
  padding: 50px 0 20px;
}
.light-blue-bar {
  background-color: var(--primary-light);
  padding: 30px 0;
}

.intro-container {
  max-width: 1000px;
  line-height: 1.5;
  margin: 0 auto;

  p {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-gray1);
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--color-white);
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-gray1);
  }

  ul {
    list-style: disc;
    margin-left: 25px;
    margin-bottom: 15px;
  }

  li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    color: var(--color-gray1);
  }

  a {
    color: var(--color-gray1);
    font-weight: 600;
  }
}

.dhsc-container {
  max-width: 1000px;
  display: flex;
  margin: 100px auto;
  position: relative;
}

.lenses-container {
  height: 50px;
  margin-bottom: var(--lenses-line-length);
  position: relative;
  padding-bottom: 30px;

  &:after {
    content: "";
    position: absolute;
    left: 94px;
    height: var(--lenses-line-length);
    bottom: calc(-1 * var(--lenses-line-length));
    width: 3px;
    z-index: 10;
    /* https://kovart.github.io/dashed-border-generator/ */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23CCCCCCFF' stroke-width='6' stroke-dasharray='0%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

    opacity: 0;
    animation: fadeIn 0.5s 0.5s ease-out forwards;
  }

  .dragonfly-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    left: -155px;

    .lens {
      height: 50px;
      width: 240px;
      border-radius: 50%;
      border: 2px solid var(--color-gray1);
      margin: 2px;
    }

    .left-text,
    .right-text {
      font-size: 20px;
      font-weight: 300;
      color: rgb(151, 78, 78);
      padding: 0 10px 10px;
      animation: lensUp 0.8s ease-out forwards;
      text-align: center;
    }

    .left-text {
      color: rgb(39, 39, 99);
    }

    .lens-left-blue {
      background-color: rgba(0, 0, 255, 0.2);
      opacity: 0;
      transform: translateY(50px);
      animation: lensUp 0.8s 0.2s ease-out forwards;
    }

    .lens-right-red {
      background-color: rgba(255, 0, 0, 0.2);
      opacity: 0;
      transform: translateY(50px);
      animation: lensUp 0.8s 0.2s ease-out forwards;
    }

    .lens-left-gray {
      border: 3px solid var(--color-gray3);
      background-color: rgba(0, 0, 0, 0.1);
      transform: translateY(50px);
      animation: lensUpLeftGray 0.6s 0.6s ease-out forwards;
      z-index: -1;
      opacity: 0;
    }

    .lens-right-gray {
      border: 3px solid var(--color-gray3);
      background-color: rgba(0, 0, 0, 0.1);
      transform: translateY(50px);
      animation: lensUpRightGray 0.6s 0.6s ease-out forwards;
      z-index: -1;
      opacity: 0;
    }

    @keyframes lensUp {
      0% {
        opacity: 0;
        transform: translateY(50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes lensUpLeftGray {
      0% {
        opacity: 0;
        transform: rotate(-8deg) translate(3px, -30px);
      }
      100% {
        opacity: 1;
        transform: rotate(-8deg) translate(3px, -30px);
      }
    }
    @keyframes lensUpRightGray {
      0% {
        opacity: 0;
        transform: rotate(8deg) translate(-3px, -30px);
      }
      100% {
        opacity: 1;
        transform: rotate(8deg) translate(-3px, -30px);
      }
    }
  }
}

.stack-container {
  width: var(--stack-container-width);
  position: absolute;

  &.fixed {
    position: fixed;
    top: 0;
  }

  &.fixed-bottom {
    transform: none !important;
    position: absolute;
    bottom: 0;
    top: auto;
  }
}

.description-container {
  margin-left: calc(var(--stack-container-width) + 60px);
}

.group-title {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 100px;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 13px 20px 10px;
  margin-left: -20px;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;

  &:first-child {
    margin-top: 0;
  }
}

.layer-group {
  margin-bottom: var(--distance-layers-apart);
  position: relative;

  &:hover .layer-container .layer-title {
    color: var(--primary);
  }

  &.has-line-to-next:after {
    content: "";
    position: absolute;
    left: 94px;
    height: calc(
      var(--distance-layers-apart) - var(--inbetween-line-offset) - 5px
    );
    bottom: calc(
      -40px - var(--distance-layers-apart) + var(--inbetween-line-offset)
    );
    width: 3px;
    z-index: 10;
    /* https://kovart.github.io/dashed-border-generator/ */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23CCCCCCFF' stroke-width='6' stroke-dasharray='0%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  }

  .array {
    .grid {
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      pointer-events: none;

      .layer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent !important;
      }

      .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      .cell {
        width: var(--stack-size);
        height: var(--stack-size);
        border-radius: 7px;
        border: 3px solid var(--color-black);
        margin: 4px;
      }
    }
  }

  @for $i from 2 through 20 {
    &:nth-child(#{$i}) {
      opacity: 0;
      animation: appearUp 0.3s #{($i - 1) / 6 + 0.4}s ease-out forwards;
    }
  }
}

.grid-label {
  position: absolute;
  left: 300px;
  top: -30px;
  width: 300px;
  font-size: 18px;
  color: var(--color-gray1);
}

.layer-container {
  height: 35px;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .layer {
    background: #fff;
    border: 3px solid var(--color-gray2);
    height: var(--stack-size);
    border-radius: 7px;
    width: var(--stack-size);
    position: relative;
    display: inline-block;
    // box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.1);
    transform: rotate(-22.5deg) skewX(45deg) scaleY(0.7071)
      translate(30px, 20px);
    transition: 0.2s all;
  }

  .icon-container {
    position: absolute;
    left: 5px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 100;
    top: 3px;
  }

  img.icon {
    width: 54px;
  }

  &:hover,
  &.highlighted {
    .layer {
      background-color: var(--primary-light);
      border-color: var(--primary);
      // box-shadow: -10px 10px 10px var(--primary-shadow);
    }

    .layer-text-container {
      &:after {
        background-color: var(--primary);
      }
      .main {
        color: var(--primary);
      }
    }
  }
}

.layer-title {
  position: absolute;
  top: 15px;
  left: -60px;
  transform: rotate(-22.5deg) skewX(-22.5deg);
  color: var(--color-gray3);
  width: 150px;
  text-align: right;
}

.layer-text-container {
  position: absolute;
  left: calc(200px + var(--distance-labels-away));
  top: 21px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;

  &:after {
    content: "";
    position: absolute;
    right: -20px;
    height: 10px;
    width: 10px;
    top: 16px;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.2s background-color;
  }

  &:before {
    content: "";
    left: calc(-20px - var(--distance-labels-away));
    width: var(--distance-labels-away);
    height: 2px;
    background-color: var(--color-gray3);
    top: 22px;
    position: absolute;
    z-index: -1;
  }

  .main {
    font-size: 15px;
    margin-bottom: 2px;
    transition: 0.2s color;
    line-height: 18px;
  }

  .subtext {
    font-size: 12px;
    margin-bottom: 5px;
    color: var(--color-gray2);
  }
}

.layer-description {
  position: relative;
  transition: 0.2s all;
  margin-bottom: 40px;

  &.highlighted:before {
    background-color: var(--primary);
  }

  &:before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0;
    background-color: var(--color-gray4);
    transition: 0.2s all;
  }
}

@keyframes appearUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appearDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
